version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_DATABASE: shopping_app
      MYSQL_USER: shopuser
      MYSQL_PASSWORD: shoppass
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    networks:
      - shopping-network
    volumes:
      - mysql-data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10

  redis:
    image: redis/redis-stack:latest
    container_name: shopping-redis
    ports:
      - "6379:6379"
    networks:
      - shopping-network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: shopping-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - shopping-network

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: shopping-kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - shopping-network

  backend:
    build: ./backend
    container_name: shopping-backend
    env_file: .env
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
      kafka:
        condition: service_started
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/shopping_app?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
      - JASYPT_ENCRYPTOR_PASSWORD=commerce
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - REDIS_URL=redis://shopping-redis:6379
      - REDIS_HOST=shopping-redis
      - REDIS_PORT=6379
    ports:
      - "7070:7070"
    networks:
      - shopping-network

  frontend:
    build: ./frontend
    container_name: shopping-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
    networks:
      - shopping-network

networks:
  shopping-network:
    driver: bridge

volumes:
  mysql-data:
