services:
  db:
    image: mysql:8.0
    container_name: shopping-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: shopping_app
      MYSQL_USER: shopuser
      MYSQL_PASSWORD: shoppass
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
